@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


/* * {
  outline: black solid 2px;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Estilos personalizados que no pude agregar con tailwind */

.buttons {
  box-shadow: inset 0px -12px 0px -7px hsl(28, 16%, 65%);
}

.button-del, .button-reset{
  box-shadow: inset 0px -12px 0px -7px hsl(224, 28%, 35%);
}

.button-equal {
  box-shadow: inset 0px -12px 0px -7px hsl(6, 70%, 34%);
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: hsl(6, 70%, 34%);
}

.input-range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: hsl(6, 70%, 34%);
}